.card-evento {
    margin-bottom: 25px;
}

.card-evento:hover {
    border-color: rgb(196, 196, 196);
}

.card-evento-titulo {
    color: #000;
    text-decoration: none;
}

.card-evento-titulo:hover {
    color: rgb(104, 104, 104);
}

.card-evento-texto-status {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}
